* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body, h1, h2 {
  margin: 0;
}

header,
.palette,
.save-projects-cont,
.save-palette-user-cont, 
.view-projects-cont {
  padding: 1rem;
}

body {
  background-image: url("../images/linen-dark.png");
  max-width: 1500px;
  margin: 0 auto;
}

header {
  background-color: #e7e7e7;
}

h1 {
  font-family: 'Righteous';
}

button, select, .del-image, .palette-select-wrapper {
  cursor: pointer;
}
button:hover {
  background-color: rgb(95, 215, 255);
}

.saved, .unsaved {
  height: 2rem;
}

.palette-cont {
  background-color: #91919161;
}

.palette-color-cont {
  display: flex;
  justify-content: space-around;
  padding: .5rem .5rem 0 .5rem;
}

.palette {
  align-items: center;
  min-width: 7rem;
  min-height: 20rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  margin: .5rem;
  box-shadow: 0px 8px 19px 4px rgba(0, 0, 0, 0.75);
}

.color_1 {
  background-color: #8EA4D2;
}

.color_2 {
  background-color: #6279B8;
}

.color_3 {
  background-color: #49516F;
}

.color_4 {
  background-color: #2B3842;
}

.color_5 {
  background-color: #14242B;
}

button, input, select {
  background-color: #E7E7E7;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.75);
  padding: .5rem;
  font-size: 1rem;
  margin: 0.5rem 1rem;
}

input {
  background-color: #515151cf;
  border: 2px solid #e7e7e7;
  color: #E7E7E7;
}

::placeholder {
  color: #E7E7E7;
}

.save-palette-user-cont {
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}

.generate-btn {
  width: 9rem;
}

.save-palette-cont, form {
  display: inline-flex;
}

.save-palette-btn {
  width: 6.6rem;
}

.save-projects-cont {
  background-color: #919191;
  display: inline-block;
  padding: 0.5rem 0;
  width: 100%;
}

select {
  height: 2.2rem;
  width: 4rem;
}

#save-project-input {
  margin: 0 1rem;
}

.save-project-btn {
  width: 7rem;
}

p {
  margin: 0;
}

.view-projects-cont {
  border: 2px solid #919191;
  border-radius: 3px;
  margin: 1rem 0;
  padding: 0;
}

h2 {
  background-color: #919191;
  padding: 0.8rem;
  text-align: center;
}

.list-color {
  display: inline-flex;
}

.projects-cont {
  background-color: #ffffff14;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 0 2rem 0;
}

.project {
  align-items: center;
  background-color: #ffffff3b;
  border-radius: 3px;
  display: flex;
  box-shadow: 0px 8px 19px 4px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  min-width: 15rem;
  margin: 1rem;
}

.display-project-name {
  background-color: #E7E7E7;
  border-radius: 3px 3px 0 0;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.display-palettes {
  max-height: 6.8rem;
  overflow: scroll;
}

.display-palette-cont {
  background-color: #a0a0a0;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 1px 0;
  align-items: center;
  display: flex;
}

.palette-select-wrapper {
  display: flex;
}

h5 {
  font-size: .8rem;
  margin: 0;
  min-width: 5rem;
  padding: .2rem 0 0 .4rem;
}

.list-color {
  height: 1.6rem;
  width: 1.6rem;
}


.del-image {
  height: 1.5rem;
  margin: 0 .1rem 0 0.9rem;
}

@media only screen and (max-width: 700px) {
  .save-palette-user-cont, .save-palette-cont, .save-palette-form, .save-projects-cont {
    flex-direction: column
  }

  .palette-color-cont {
    flex-direction: column;
    padding: 0;
  }

  .palette {
    flex-direction: row;
    margin: 0;
    max-height: 4rem;
    min-height: 4rem;
  }
}

